---
layout: default
---

<div style="display:inline-block;margin-left:.5em;">
    Browse by <a href="/category/">Category</a>, <a href="/tag/">Tag</a> or <a href="/archive/">Archive</a>
</div>

<br/><br/>

<div class="posts">
  {% for post in paginator.posts %} 

    <nav id="pagination">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <a href="{{ site.baseurl }}/">&laquo;</a>
          {% else %}
            <a href="{{ site.baseurl }}/page{{ paginator.previous_page }}/">&laquo;</a>
          {% endif %}
        {% endif %}

        {% if paginator.next_page %} 
          <a href="{{ site.baseurl }}/page{{ paginator.next_page }}/">&raquo;</a>
        {% endif %} 
    </nav>

    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <span class="post-date">
            {{ post.date | date_to_string }}
            {% if post.tags != empty %}
            |
            {% for tag in post.tags %}
            <a class="post-tag codinfox-tag-mark" href="/tag/#{{ tag | slugify }}">{{ tag }}</a>
            {% endfor %}
            {% endif %}
	</span>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<div class="pagination">
    {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
    {% else %}
    <span class="pagination-item older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
    <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
    {% else %}
    <span class="pagination-item newer">Newer</span>
    {% endif %}
</div>
